* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #e8491d;
}

/* Custom Property */
:root {
  --color: #e8491d;
  --dark-background: #35424a;
}

/* Utility Class */
.bg-primary {
  color: var(--color);
}

.section-md {
  max-width: 900px;
}

.container-lg {
  max-width: 1300px;
}

.container-md {
  max-width: 1200px;
}

.header {
  background: #35424a;
  height: 100px;
  border-bottom: 2px solid var(--color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  padding-top: 30px;
}

.list-items ul {
  display: flex;
  gap: 39px;
}

.section {
  background: url(./Images/1668181558727.jpeg) no-repeat center/cover;
  height: 50vh;
  padding: 20px;
}

.section-text {
  margin: 0 auto;
  color: #fff;
  padding: 80px 0;

  h1 {
    font-size: 3.3rem;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 19px;
    padding-top: 20px;
  }

  p {
    text-align: center;
    font-size: 20px;
  }
}

.section-2 {
  background: #35424a;
  padding: 30px;
}

.forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  p {
    font-size: 1.5rem;
    color: #fff;
  }
}

.contain .form-group {
  display: flex;
}

.form-group input {
  padding: 10px;
  border: none;
  width: 280px;
  font-size: 16px;
  outline: none;
}

.form-group .btn {
  background: #e8491d;
  border: none;
  border-left: 1px solid #35424a;
  padding: 13px;
  margin-left: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.languages {
  margin: 50px;
}

.language-group {
  display: flex;
  margin: 0 auto;
  padding: 20px;
}

.dev-languages {
  padding: 20px;

  h3 {
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.footer {
  background: #e8491d;
  padding: 30px;
}

.footer-text p {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

/* About page */

.about .card {
  max-width: 1100px;
  margin: 0 auto;
  margin: 30px auto;
}

.card {
  display: flex;
  gap: 40px;
}

.flex-column {
  max-width: 700px;
}

.card-2 .text {
  flex-direction: column;
}

.card-2 {
  margin-bottom: 10px;
}

.aside {
  max-width: 380px;
  background: var(--dark-background);
  height: 50%;
  padding: 15px;

  h2 {
    margin-bottom: 5px;
  }

  h2,
  p {
    color: #fff;
  }
}

.flex-column .text {
  background: var(--dark-background);
  padding: 10px;
  color: #fff;
}

/* Services Page */
.services .head-text {
  margin: 10px 70px;
}

.stack-container .stack-card {
  background: #e7e7e7;
  margin: 0 auto;
  margin: 0 50px;
  margin-bottom: 5px;
}

.stack-card h2 {
  margin-left: 30px;
  padding: 10px;
}

.stack-card p {
  margin-left: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.stack-card .price {
  padding-bottom: 15px;
  padding-top: 20px;
}

.wrap-card {
  display: flex;
  gap: 10px;
  max-width: 1200px;
  margin: 50px auto;
}

.guide {
  background: #35424a;
  height: 50%;
  padding: 20px;
  color: #fff;

  h2 {
    padding-bottom: 20px;
  }
}

.form-groups input {
  padding: 8px;
  width: 100%;
  outline: none;
  font-size: 17px;
}

.form-groups textarea {
  height: 50px;
  padding: 5px;
  resize: none;
  width: 100%;
  outline: none;
  font-size: 17px;
}

.form-groups .btn-2 {
  padding: 10px;
  background: var(--color);
  border: none;
  color: #fff;
  width: 50%;
  cursor: pointer;
}

.btn-2:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .header {
    height: 16vh;
  }

  .hero {
    flex-direction: column;
    padding-top: 20px;

    h2 {
      margin-bottom: 20px;
      font-size: 29px;
    }
  }

  .section {
    height: 35vh;
  }

  .section-text {
    padding: 20px 0;

    h1 {
      font-size: 33px;
    }

    p {
      font-size: 16px;
    }
  }

  .flex .forms {
    flex-direction: column;

    p {
      margin-bottom: 15px;
    }
  }

  .language-group {
    flex-direction: column;
  }

  .dev-languages {
    margin-bottom: 15px;
  }

  /* About Media Queries */
  .card {
    flex-direction: column;
  }

  .about .card {
    max-width: 400px;
  }

  /* Services Media Queries */
  .wrap-card {
    flex-direction: column;
  }

  .guide {
    width: 75%;
    margin-left: 50px;
    margin-bottom: 10px;
  }
}

@media (min-width: 500px) and (max-width: 2400px) {
  .hero {
    padding: 20px;
  }
}
