* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #7f8fa4, #3b4a6b);
}

.input {
  resize: none;
  width: 100%;
  height: 250px;
  outline: none;
  font-size: 200px;
  text-align: center;
  border: 1px solid #c7d2fe;
  overflow-y: hidden;
  box-shadow: 5px 4px 10px 2px rgba(0, 0, 0, 0.5);
  background: #f3e8ff;
}

.buttons {
  padding: 10px;
}

.btn {
  margin-top: 5px;
  padding: 20px;
  width: 100px;
  border: none;
  background: #22c55e;
  font-size: 40px;
  margin: 5px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 9px;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: #16a34a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  animation: slide 1.5s ease-in-out 1;
}

@keyframes slide {
  from {
    background: coral;
  }
  to {
    background: #22c55e;
  }
}

.header {
  max-width: 900px;
  margin: 70px auto;
  padding: 30px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  max-height: 550px;
}

h1 {
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 3px #333;
  margin-bottom: 20px;
  background: #b43a3a;
  background: linear-gradient(
    90deg,
    rgba(230, 115, 20, 1) 10%,
    rgba(243, 156, 18, 1) 50%,
    rgba(240, 173, 78, 1) 90%
  );
}

/* Media Queries */
@media (max-width: 768px) and (max-width: 1000px) and (max-width: 376px) {
  html,
  body {
    height: 100%;
  }

  .btn:hover {
    animation: none;
    transition: none;
    background: #22c55e;
  }
}
